(
    player_decks: [
        PlayerDeck(
            name: "The Weber",
            max_health: 50,
            heat_capacity: 4,
            hand_size: 5,
            weapons: [
                Module(condition: Start, effect: Missile),
                Module(condition: Start, effect: Missile),
            ],

            storage: [
                Module(condition: Start, effect: Missile),
                Module(condition: Repair, effect: Repair),
                Module(condition: Repair, effect: Missile),
                Module(condition: Missile, effect: Repair),
                Module(condition: Missile, effect: Missile),
                Module(condition: Missile, effect: Missile),
            ],
            hand: [
                Module(condition: Start, effect: Missile),
            ],
            reactor: [
                Module(status: SlotEmpty),
                Module(status: SlotEmpty),
                Module(status: SlotEmpty),
            ],
        ),
    ],
)
