(
    health_bar_color_ramp: [
        Oklcha(Oklcha(lightness: 0.500, chroma: 0.150, hue: 030, alpha: 0.600)),
        Oklcha(Oklcha(lightness: 0.500, chroma: 0.150, hue: 030, alpha: 0.600)),
        Oklcha(Oklcha(lightness: 0.800, chroma: 0.150, hue: 090, alpha: 0.600)),
        Oklcha(Oklcha(lightness: 0.700, chroma: 0.150, hue: 150, alpha: 0.600)),
        Oklcha(Oklcha(lightness: 0.700, chroma: 0.150, hue: 150, alpha: 0.600)),
    ],

    heal_popup_font_size: 8,
    heal_popup_font_color: Srgba(Srgba(red: 0.1, green: 0.8, blue: 0.2, alpha: 0.9)),
    heal_popup_offset: Vec2(0, 8),
    heal_popup_offset_spread: Vec2(45, 15),
    heal_popup_velocity: Vec2(0, 20),
    heal_popup_fade_rate: 1,
    heal_popup_scale: 0.8,
    heal_popup_scale_factor: 1.04,
    heal_popup_scale_max: 3.8,
)
