(
    flux_shake_magnitude: Vec2(0.2, 0),
    flux_shake_decay: 0.000001,
    enemy_ship_shake_magnitude: Vec2(2.5, 2.5),
    enemy_ship_shake_decay: 0.000001,
    module_shake_magnitude: Vec2(0.85, 0.85),
    module_shake_decay: 0.0000001,
    screen_shake_magnitude_camera: Vec2(7.0, 7.0),
    screen_shake_decay_camera: 0.0125,
    screen_shake_magnitude_ui: Vec2(0.9, 0.9),
    screen_shake_decay_ui: 0.0125,
)
