(
    setup_cooldown: 0.35,
    setup_cooldown_decay: 0.7,
    setup_first_cooldown: 0.4,
    setup_last_cooldown: 0.3,

    reactor_cooldown: 0.64,
    reactor_cooldown_decay: 0.8,
    reactor_first_cooldown: 0.8,
    reactor_last_cooldown: 1.5,

    enemy_cooldown: 0.64,
    enemy_cooldown_decay: 0.8,
    enemy_first_cooldown: 0.8,
    enemy_last_cooldown: 1.5,
)
