(
    missile_damage: 1,
    missile_initial_position_spread: Vec2(1, 2),
    missile_initial_angle_spread: 15,
    missile_initial_speed: 40,
    missile_initial_speed_spread: 0,
    missile_max_speed: 300,
    missile_thruster_force: 18000,
    missile_homing_approach: 0.001,
    missile_homing_target_spread: Vec2(150, 0),
)
