(
    projectiles: {
        "missile": ProjectileInfo(
            name: "Missile",
            sprite: "image/projectile/missile.png",
            spawn_sfx: "audio/sfx/Missile SFX 1.ogg",
            collider_radius: 3,
            collider_a: Vec2(-3.5, 0),
            collider_b: Vec2(3.5, 0),

            damage: 1,
            initial_position: Vec2(0, 0),
            initial_position_spread: Vec2(1, 2),
            initial_angle: 0,
            initial_angle_spread: 0,
            initial_speed: 10,
            initial_speed_spread: 0,
            max_speed: 250,
            thruster_force: Vec2(300, 20),
            homing_approach: 0.001,
            homing_target_spread: Vec2(30, 0),
            initial_scale: Vec2(0.25, 0.25),
            max_scale: Vec2(1, 1),
            growth_rate: Vec2(6, 6),
            oscillate_amplitude: Vec2(1, 1),
            oscillate_phase: Vec2(0, 0.345),
            oscillate_rate: Vec2(30, 0),
        ),

        "laser": ProjectileInfo(
            name: "Laser",
            sprite: "image/projectile/laser.png",
            spawn_sfx: "audio/sfx/Firing Laser SFX.ogg",
            collider_radius: 2,
            collider_a: Vec2(-4, 0),
            collider_b: Vec2(4, 0),

            damage: 2,
            initial_position: Vec2(0, 0),
            initial_position_spread: Vec2(1, 2),
            initial_angle: 0,
            initial_angle_spread: 0,
            initial_speed: 40,
            initial_speed_spread: 0,
            max_speed: 440,
            thruster_force: Vec2(1000, 0),
            homing_approach: 0.0001,
            homing_target_spread: Vec2(10, 0),
            initial_scale: Vec2(1, 1),
            max_scale: Vec2(1, 1),
            growth_rate: Vec2(0, 0),
            oscillate_amplitude: Vec2(0, 0),
            oscillate_phase: Vec2(0, 0),
            oscillate_rate: Vec2(0, 0),
        ),

        "fireball": ProjectileInfo(
            name: "Fireball",
            sprite: "image/projectile/fireball.png",
            spawn_sfx: "audio/sfx/Fireball SFX.ogg",
            collider_radius: 5,
            collider_a: Vec2(0, 0),
            collider_b: Vec2(0, 0),

            damage: 10,
            initial_position: Vec2(0, -6),
            initial_position_spread: Vec2(1, 2),
            initial_angle: 0,
            initial_angle_spread: 0,
            initial_speed: 40,
            initial_speed_spread: 0,
            max_speed: 400,
            thruster_force: Vec2(120, 0),
            homing_approach: 0.5,
            homing_target_spread: Vec2(0, 0),
            initial_scale: Vec2(0.15, 0.15),
            max_scale: Vec2(8, 8),
            growth_rate: Vec2(4, 4),
            oscillate_amplitude: Vec2(0, 0),
            oscillate_phase: Vec2(0, 0),
            oscillate_rate: Vec2(0, 0),
        ),
    },
)
