(
    missile_damage: 1,
    missile_initial_position_spread: Vec2(1, 2),
    missile_initial_angle_spread: 15,
    missile_initial_speed: 10,
    missile_initial_speed_spread: 0,
    missile_max_speed: 280,
    missile_thruster_force: Vec2(400, 20),
    missile_homing_approach: 0.001,
    missile_homing_target_spread: Vec2(30, 0),
    missile_initial_scale: Vec2(0.25, 0.25),
    missile_max_scale: Vec2(1, 1),
    missile_growth_rate: Vec2(6, 6),
    missile_oscillate_amplitude: Vec2(1, 1),
    missile_oscillate_phase: Vec2(0, 0.345),
    missile_oscillate_rate: Vec2(30, 0),

    laser_damage: 2,
    laser_initial_position_spread: Vec2(1, 2),
    laser_initial_angle_spread: 0,
    laser_initial_speed: 0,
    laser_initial_speed_spread: 0,
    laser_max_speed: 440,
    laser_thruster_force: Vec2(1000, 0),
    laser_homing_approach: 0.0001,
    laser_homing_target_spread: Vec2(10, 0),

    fireball_damage: 8,
    fireball_initial_position: Vec2(0, -6),
    fireball_initial_position_spread: Vec2(1, 2),
    fireball_initial_angle_spread: 0,
    fireball_initial_speed: 40,
    fireball_initial_speed_spread: 0,
    fireball_max_speed: 400,
    fireball_thruster_force: Vec2(120, 0),
    fireball_homing_approach: 1,
    fireball_homing_target_spread: Vec2(0, 0),
    fireball_initial_scale: Vec2(0.15, 0.15),
    fireball_max_scale: Vec2(8, 8),
    fireball_growth_rate: Vec2(4, 4),
)
