(
    player_weapons: [Vec2(-9.5, 15), Vec2(9.5, 15)],
    player_health_bar_offset: Vec2(0, -22),
    player_health_bar_size: Vec2(100, 5),
    player_accel_max: 400,
    player_speed_approach: 0.01,
    player_speed_sensitivity: 3,
    player_speed_max: 120,
    player_tilt_sensitivity: 10,
    player_tilt_max: 18,
    player_oscillate_amplitude: Vec2(0, 0.5),
    player_oscillate_phase: Vec2(0, 0),
    player_oscillate_rate: Vec2(0, 3),
    player_shake: Shake(amplitude: Vec2(60, 20), decay: 2, exponent: 1.2),
    player_damage_trauma: ScalingTrauma(magnitude: 0.1, rate: 1.11, low: 3),

    enemy_weapons: [Vec2(-42, -21), Vec2(-26, -22), Vec2(39, -18)],
    enemy_health_bar_offset: Vec2(0, 30),
    enemy_health_bar_size: Vec2(200, 5),
    enemy_oscillate_amplitude: Vec2(6, 0),
    enemy_oscillate_phase: Vec2(0, 1),
    enemy_oscillate_rate: Vec2(1, 1),
    enemy_shake: Shake(amplitude: Vec2(140, 50), decay: 0.8, exponent: 1.2),
    enemy_damage_trauma: ScalingTrauma(magnitude: 0.04, rate: 1.035, low: 20),
)
