(
    colors: ThemeColorList((
        // White
        Srgba(Srgba(red: 1.000, green: 1.000, blue: 1.000, alpha: 1.000)),
        // Black
        Srgba(Srgba(red: 0.000, green: 0.000, blue: 0.000, alpha: 1.000)),
        // Invisible
        Srgba(Srgba(red: 0.000, green: 0.000, blue: 0.000, alpha: 0.000)),

        // Body
        Srgba(Srgba(red: 0.157, green: 0.157, blue: 0.157, alpha: 1.000)),
        // BodyText
        Srgba(Srgba(red: 0.850, green: 0.850, blue: 0.800, alpha: 1.000)),

        // Primary
        Srgba(Srgba(red: 0.400, green: 0.500, blue: 0.600, alpha: 1.000)),
        // PrimaryHovered
        Srgba(Srgba(red: 0.520, green: 0.600, blue: 0.750, alpha: 1.000)),
        // PrimaryPressed
        Srgba(Srgba(red: 0.300, green: 0.350, blue: 0.400, alpha: 1.000)),
        // PrimaryDisabled
        Srgba(Srgba(red: 0.200, green: 0.250, blue: 0.300, alpha: 1.000)),
        // PrimaryText
        Srgba(Srgba(red: 0.157, green: 0.157, blue: 0.157, alpha: 1.000)),

        // Popup
        Srgba(Srgba(red: 0.106, green: 0.118, blue: 0.122, alpha: 0.850)),
        // Overlay
        Srgba(Srgba(red: 0.000, green: 0.000, blue: 0.000, alpha: 0.500)),
        // RainbowOverlay
        Oklcha(Oklcha(lightness: 0.700, chroma: 0.120, hue: 0.000, alpha: 0.015)),
        // BorderColor
        Srgba(Srgba(red: 0.300, green: 0.300, blue: 0.300, alpha: 1.000)),

        // Monitor
        Srgba(Srgba(red: 0.086, green: 0.071, blue: 0.141, alpha: 1.000)),
        // MonitorText
        Srgba(Srgba(red: 0.584, green: 0.847, blue: 0.859, alpha: 1.000)),
        // MonitorDimText
        Srgba(Srgba(red: 0.290, green: 0.404, blue: 0.427, alpha: 1.000)),
        // IconText
        Srgba(Srgba(red: 0.451, green: 0.361, blue: 0.349, alpha: 1.000)),
    )),
)
